<div class="bg-green-300 border-green-600 border-b p-4 m-4 rounded w-2/5 grid place-items-center">
	<h1 class="text-3xl"> The email was sent to the following addresses</h1>
	<br>
	<% @emails = @emails.gsub(/\[|\]/,'').gsub(/\"/,'')  %>
	<% @emails = @emails.split(",") %>
	<% @emails.each do |item| %>
	<p class="font-semibold"><%= item %></p>
	<% end %>
</div>

<div class="bg-green-300 border-green-600 border-b p-4 m-4 rounded w-2/5 grid place-items-center">
<a href="/" class="text-blue-600">Go back</a>
</div>
